body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin-left: 400px;
    border: 3px solid green;
    background-color: aqua;
  }
  #education {
    background-color: plum;
    color: white;
    width: 300px;
    margin: auto;
    margin-top: 15px;
  }
  .data,
  #buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  #sub {
    padding: 5px 30px;
    background-color: green;
  }
  #cancel {
    padding: 5px 30px;
    background-color: red;
  }
  table,
  th,
  td {
    margin: 20px;
    border: 1px solid rgb(252, 16, 16);
    border-collapse: collapse;
  }
  td,
  th {
    height: 20px;
    width: 100px;
  }
  .ddisplay {
    visibility: hidden;
    height: 0;
  }