body {
    text-align: center;
    background: aquamarine;
}

.win {
    display: none;
    height: 50px;
    font-size: 2rem;
    font-weight: 700;
}

.container {
    text-align: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameBox {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 18px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
}

.btn {
    border: none;
    border-radius: 19px;
    color: red;
    font-size: 3rem;
    background: #c0b876;
}

.reset {
    background-color: wheat;
    color: black;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border: 3px dashed black;
    position: relative;
    bottom: 80px;
}