 body {
            font-family: Arial, sans-serif;
            background-color: #fac7f3;
        }
        
        .container {
            max-width: 400px;
            margin: 40px auto;
            padding: 20px;
            background-color: #02145e;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 52px;
        }
        
        .one {
            width: 90%;
            height: 40px;
            margin-bottom: 20px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 20px;

        }
        
        .div {
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            color: rgb(25, 5, 1);
            background-color: antiquewhite;
            font-size: 20px;
            border-radius: 15px;

        }
        button{
            background-color: #aab0aa;
            color: white;
           margin-right: 15px;
        }
